@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.app {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.app_sub {
  width: 80%;
  background-color: rgb(253, 249, 249);
}
